---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/events
    body:
      encoding: UTF-8
      string: '{"group":"Terrace House","location":"1.1.1.1","action":"house.created","action_type":"C","actor_name":"Daiki
        Miyagi","actor_id":"user_12345","target_name":"Ryota Yamasato","target_id":"user_67890","occurred_at":"2020-01-10T15:30:00-05:00","metadata":{"a":"b"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
      Idempotency-Key:
      - bar
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"10-oV4hJxRVSENxc/wX8+mA4/Pe4tA"
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sat, 11 Jan 2020 04:48:06 GMT
- request:
    method: post
    uri: https://api.workos.com/events
    body:
      encoding: UTF-8
      string: '{"group":"Terrace House","location":"1.1.1.1","action":"house.created","action_type":"C","actor_name":"Tetsuya
        Sugaya","actor_id":"user_12345","target_name":"Ryota Yamasato","target_id":"user_67890","occurred_at":"2020-01-10T15:30:00-05:00","metadata":{"a":"b"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
      Idempotency-Key:
      - bar
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"80-jILfJK6SRXhN8oqz8Na6yutVwHM"
    body:
      encoding: UTF-8
      string: '{"message":"Another idempotency key (bar) with different request parameters
        was found. Please use a different idempotency key."}'
  recorded_at: Sat, 11 Jan 2020 04:48:06 GMT
recorded_with: VCR 5.0.0
