---
http_interactions:
- request:
    method: get
    uri: https://api.workos.com/user_management/organization_memberships?limit=5&order=desc&user_id=user_01H5JQDV7R7ATEYZDEG0W5PRYS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"18f-HNgxIMGB3lWwWoxKErsd68S0puU"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"list","data":[{"object":"organization_membership","id":"om_01H5JQDV7R7ATEYZDEG0W5PRYS","user_id":"user_01H5JQDV7R7ATEYZDEG0W5PRYS","organization_id":"organization_01H5JQDV7R7ATEYZDEG0W5PRYS","status": "active","created_at":"2023-07-18T02:07:19.911Z","updated_at":"2023-07-18T02:07:19.911Z"}],"list_metadata":{"before":null,"after":null}}'
  recorded_at: Tue, 15 Aug 2023 16:37:20 GMT
recorded_with: VCR 5.0.0
