---
http_interactions:
  - request:
      method: post
      uri: https://api.workos.com/user_management/authenticate
      body:
        encoding: UTF-8
        string:
          '{"code":"invalid","client_id":"client_123","client_secret":"<API_KEY>","grant_type":"urn:workos:oauth:grant-type:mfa-totp", "pending_authentication_token="pending_authentication_token_1234", "authentication_challenge_id": "authentication_challenge_id_1234"}'
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 400 
        message: Bad Request
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"13b-pHataL1lHEvsW5EO4vq5QgAdcWw"
      body:
        encoding: UTF-8
        string:
          '{"error":"invalid_grant","error_description":"The code ''452079'' has
          expired or is invalid."}'
    recorded_at: Wed, 30 Aug 2023 19:51:51 GMT
recorded_with: VCR 5.0.0
