---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/user_management/users/bad_id/email_verification/confirm
    body:
      encoding: UTF-8
      string: '{"code":"966451"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"56-2Auj80JGmZ1uWGCY950ud8v4KLQ"
    body:
      encoding: ASCII-8BIT
      string: '{"message":"User not found: ''bad_id''.","code":"entity_not_found","entity_id":"bad_id"}'
  recorded_at: Thu, 31 Aug 2023 16:41:47 GMT
recorded_with: VCR 5.0.0
