---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/user_management/sessions/revoke
    body:
      encoding: UTF-8
      string: '{"session_id":"session_01H5JQDV7R7ATEYZDEG0W5PRYS"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"91-9u3slgvENRDVFp/62vKalhPzVuw"
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Session not found: ''session_01H5JQDV7R7ATEYZDEG0W5PRYS''.","code":"entity_not_found","entity_id":"session_01H5JQDV7R7ATEYZDEG0W5PRYS"}'
  recorded_at: Thu, 11 Apr 2024 22:36:42 GMT
recorded_with: VCR 5.0.0
