---
http_interactions:
- request:
    method: get
    uri: https://api.workos.com/connections?connection_type=OktaSAML&order=desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2d96-v9q8E6Hhaoenezek+rLrpCbNXas"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"object":"connection","id":"conn_01FCP832EJXY0XGA7KHSY4TR1Z","organization_id":"org_01FCP82TN6M8Z1MMYD8KNAFK9K","connection_type":"OktaSAML","name":"demo-1628539283","state":"inactive","created_at":"2021-08-09T20:01:31.988Z","updated_at":"2021-08-09T20:01:31.988Z","status":"unlinked","domains":[{"object":"connection_domain","id":"org_domain_01FCP82TPXNSMGX7J152ZCAPZZ","domain":"demo-1628539283.com"}],"oidc_client_id":null,"oidc_client_secret":null,"oidc_discovery_endpoint":null,"oidc_redirect_uri":null,"saml_entity_id":null,"saml_idp_url":null,"saml_relying_party_private_key":null,"saml_relying_party_public_key":null,"saml_x509_certs":null,"oauth_uid":null,"oauth_secret":null,"oauth_redirect_uri":null},{"object":"connection","id":"conn_01FCP2QYEPS1DB3XBC7BAQCMEJ","organization_id":"org_01FCP2QN01T5SSFBTSRR4WAEEB","connection_type":"OktaSAML","name":"demo-1628533674835","state":"inactive","created_at":"2021-08-09T18:28:04.688Z","updated_at":"2021-08-09T18:28:04.688Z","status":"unlinked","domains":[{"object":"connection_domain","id":"org_domain_01FCP2QN077A256HSKQ8SSRSJ6","domain":"demo-1628533674835.com"}],"oidc_client_id":null,"oidc_client_secret":null,"oidc_discovery_endpoint":null,"oid[...]
