---
http_interactions:
- request:
    method: get
    uri: https://api.workos.com/connections?organization_id=org_01EGS4P7QR31EZ4YWD1Z1XA176
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"858-uzKJUA8m8TqEzP1BIYcD7v5jWXc"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"object":"connection","id":"conn_01EGS6E1K7YK1G380ADPHTDC4K","status":"linked","state":"active","name":"foochrop","connection_type":"GoogleSAML","oidc_client_id":null,"oidc_client_secret":null,"oidc_discovery_endpoint":null,"oidc_redirect_uri":null,"saml_entity_id":"http://www.okta.com/exk2nna6ce7sryESs4x7","saml_idp_url":"https://foo-corp.okta.com/app/foo-corp_workossandboxworkostestapp_1/exk2nna6ce7sryESs4x7/sso/saml","saml_relying_party_private_key":null,"saml_relying_party_public_key":null,"saml_x509_certs":null,"organization_id":"org_01EGS4P7QR31EZ4YWD1Z1XA176","oauth_uid":null,"oauth_secret":null,"oauth_redirect_uri":null,"domains":[{"object":"connection_domain","id":"org_domain_01EGS4P7RNQPFQAQ7SKCC40KNE","domain":"foo-corp.com"}]}],"listMetadata":{"before":null,"after":null}}'
  recorded_at: Thu, 22 Apr 2021 22:27:19 GMT
recorded_with: VCR 5.0.0
