---
http_interactions:
- request:
    method: get
    uri: https://api.workos.com/connections?limit=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e83-dQBd84kjpOIU5TguUlqVO16JIjA"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"object":"connection","id":"conn_01F3NBCWG7739Y578R4DCA2B6Q","status":"linked","state":"active","name":"sheldonnextauthtest,
        inc.","connection_type":"OktaSAML","oidc_client_id":null,"oidc_client_secret":null,"oidc_discovery_endpoint":null,"oidc_redirect_uri":null,"saml_entity_id":"http://www.okta.com/exk2ya1gdoSn8dazk4x7","saml_idp_url":"https://foo-corp.okta.com/app/foo-corp_sheldonnextauthtest_1/exk2ya1gdoSn8dazk4x7/sso/saml","saml_relying_party_private_key":null,"saml_relying_party_public_key":null,"saml_x509_certs":null,"organization_id":"org_01F3NBC88WCEAZP6E3W893B93T","oauth_uid":null,"oauth_secret":null,"oauth_redirect_uri":null,"domains":[{"object":"connection_domain","id":"org_domain_01F3NBCWFZMPXKRJJFMN02VJ84","domain":"sheldonnextauthtest.com"}]},{"object":"connection","id":"conn_01F3NBB5TKYECYV5H00ANNW5AC","status":"unlinked","state":"draft","name":"sheldonadamtest,
        inc. ","connection_type":"OktaSAML","oidc_client_id":null,"oidc_client_secret":null,"oidc_discovery_endpoint":null,"oidc_redirect_uri":null,"saml_entity_id":null,"saml_idp_url":null,"saml_relying_party_private_key":null,"saml_relying_party_public_key":null,"saml_x509_certs":null,"organization_id":"org_01EY9HHDZ1RT40CBSM7K0Q1M0V","oauth_ui[...]
