---
http_interactions:
- request:
    method: get
    uri: https://api.workos.com/connections?connection_type=OktaSAML
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46af-lGP9LUhIdX/OqTpLd8mg1Cfoo9U"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"object":"connection","id":"conn_01EXSJNNJYDMAPMW4RGJFPSS8S","status":"linked","state":"active","name":"Gyres","connection_type":"OktaSAML","oidc_client_id":null,"oidc_client_secret":null,"oidc_discovery_endpoint":null,"oidc_redirect_uri":null,"saml_entity_id":"https://auth.workos.com/UkfpBFm8KYo80cWmAa8GsCMSQ","saml_idp_url":"https://login.microsoftonline.com/f2416a9f-8064-45fe-99b6-d68b320c33f5/saml2","saml_relying_party_private_key":null,"saml_relying_party_public_key":null,"saml_x509_certs":null,"organization_id":"org_01EXSJN9K761YW588FHMADPPFD","oauth_uid":null,"oauth_secret":null,"oauth_redirect_uri":null,"domains":[{"object":"connection_domain","id":"org_domain_01EXSJNNJNVVHRW1HSAMJ12J31","domain":"gyres.com"}]},{"object":"connection","id":"conn_01EXJ9WRWG2526AQNQQ55J6ZFX","status":"linked","state":"active","name":"Unique
        Domain","connection_type":"OktaSAML","oidc_client_id":null,"oidc_client_secret":null,"oidc_discovery_endpoint":null,"oidc_redirect_uri":null,"saml_entity_id":"https://auth.workos.com/AM9h0jCQPmM4iWUCMqKIuEMEI","saml_idp_url":"https://login.microsoftonline.com/f2416a9f-8064-45fe-99b6-d68b320c33f5/saml2","saml_relying_party_private_key":null,"saml_relying_party_pub[...]
