---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/users/verify_email
    body:
      encoding: UTF-8
      string: '{"magic_auth_challenge_id":"auth_challenge_fake","code":"587300"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"84-VIVMj2yaAtLD+e2JsHpL7WBxIXo"
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Authentication Challenge not found: ''auth_challenge_fake''.","code":"entity_not_found","entity_id":"auth_challenge_fake"}'
  recorded_at: Tue, 22 Aug 2023 11:20:33 GMT
recorded_with: VCR 5.0.0
