---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/users/verify_email
    body:
      encoding: UTF-8
      string: '{"magic_auth_challenge_id":"auth_challenge_01H8EFR3M9T9S7SMNTBMTYEEDG","code":"000000"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5e-7Q2jqJ24EIqia0hYl0f8UavvB1I"
    body:
      encoding: UTF-8
      string: '{"code":"email_verification_code_incorrect","message":"Email verification
        code is incorrect."}'
  recorded_at: Tue, 22 Aug 2023 11:24:17 GMT
recorded_with: VCR 5.0.0
