---
http_interactions:
  - request:
      method: post
      uri: https://api.workos.com/users/user_01H968BR1R84DSPYS9QR5PM6RZ/verify_email_code
      body:
        encoding: UTF-8
        string: '{"code":"333495"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer <API_KEY>
    response:
      status:
        code: 201
        message: Created
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"177-YBu4ZtIor9/cOTTWMVDcStQWgKw"
      body:
        encoding: UTF-8
        string: '{"user":{"object":"user","id":"user_01H968BR1R84DSPYS9QR5PM6RZ","email":"test@workos.com","email_verified":true,"first_name":"Adam","last_name":"Test","created_at":"2023-08-31T16:55:56.619Z","updated_at":"2023-08-31T16:57:30.574Z","user_type":"unmanaged","email_verified_at":"2023-08-31T16:57:30.628Z","google_oauth_profile_id":null,"microsoft_oauth_profile_id":null}}'
    recorded_at: Thu, 31 Aug 2023 16:57:30 GMT
recorded_with: VCR 5.0.0
