---
http_interactions:
  - request:
      method: post
      uri: https://api.workos.com/users/verify_email
      body:
        encoding: UTF-8
        string: '{"magic_auth_challenge_id":"auth_challenge_01H8EFC1WAHYPKGC96NT9EC9GE","code":"587300"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer <API_KEY>
    response:
      status:
        code: 201
        message: Created
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"157-VBqkTCss3g/8AamuFUDlyyDEW7s"
      body:
        encoding: UTF-8
        string: '{"object":"user","id":"user_01H7TVSKS45SDHN5V9XPSM6H44","email":"bob.loblaw@example.com","first_name":"Bob","last_name":"Loblaw","created_at":"2023-08-14T20:28:58.929Z","updated_at":"2023-08-22T11:18:01.837Z","user_type":"unmanaged","email_verified_at":"2023-08-22T11:18:01.850Z","google_oauth_profile_id":null,"microsoft_oauth_profile_id":null}'
    recorded_at: Tue, 22 Aug 2023 11:18:01 GMT
recorded_with: VCR 5.0.0
