---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/user_management/users
    body:
      encoding: UTF-8
      string: '{"email":"external@example.com","password":null,"first_name":"External","last_name":"User","email_verified":null,"external_id":"ext_user_123","password_hash":null,"password_hash_type":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"146-upR+rp+FopOrmNrHPnshQZCSTFg"
    body:
      encoding: UTF-8
      string: '{"object":"user","id":"user_01K0SR53HJ58M957MYAB6TDZ9X","email":"external@example.com","email_verified":false,"first_name":"External","last_name":"User","profile_picture_url":null,"metadata":{},"last_sign_in_at":null,"created_at":"2025-07-22T19:00:50.852Z","updated_at":"2025-07-22T19:00:50.852Z","external_id":"ext_user_123"}'
  recorded_at: Tue, 22 Jul 2025 19:00:50 GMT
recorded_with: VCR 5.0.0
