---
http_interactions:
- request:
    method: get
    uri: https://api.workos.com/user_management/users/user_01HP0B4ZV2FWWVY0BF16GFDAER
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fc-DvbCxkCW5Wocu/IoMzE4Fvwf0ns"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"user","id":"user_01HP0B4ZV2FWWVY0BF16GFDAER","email":"bob@example.com","email_verified":false,"first_name":"Bob","last_name":"Loblaw","profile_picture_url":null,"last_sign_in_at":"2024-02-06T23:13:18.137Z","created_at":"2024-02-06T23:13:18.137Z","updated_at":"2024-02-06T23:13:36.946Z"}'
  recorded_at: Tue, 06 Feb 2024 23:16:59 GMT
recorded_with: VCR 5.0.0
