---
http_interactions:
- request:
    method: put
    uri: https://api.workos.com/user_management/users/user_01K0SR53HJ58M957MYAB6TDZ9X
    body:
      encoding: UTF-8
      string: '{"first_name":"John","external_id":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"138-cAQWhb1gyLa/WXSej+rjaxcQD5k"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"user","id":"user_01K0SR53HJ58M957MYAB6TDZ9X","email":"external@example.com","email_verified":false,"first_name":"John","last_name":"User","profile_picture_url":null,"metadata":{},"last_sign_in_at":null,"created_at":"2025-07-22T19:00:50.852Z","updated_at":"2025-07-23T14:19:37.660Z","external_id":null}'
  recorded_at: Wed, 23 Jul 2025 14:19:37 GMT
recorded_with: VCR 5.0.0
