---
http_interactions:
- request:
    method: get
    uri: https://api.workos.com/user_management/password_reset/invalid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"62-MwEIS86+oNNsmjVX0JyWZTcjZ9s"
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Password Reset not found: ''invalid''.","code":"entity_not_found","entity_id":"invalid"}'
  recorded_at: Thu, 23 May 2024 18:04:34 GMT
recorded_with: VCR 5.0.0
