---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/auth/factors/auth_factor_01FZ4TS14D1PHFNZ9GF6YD8M1F/challenge
    body:
      encoding: UTF-8
      string: '{"sms_template":"Your code is {{code}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"112-VpD9nscbxE6VOcsJlK2RHEzlq3s"
    body:
      encoding: UTF-8
      string: '{"object":"authentication_challenge","id":"auth_challenge_01FZ4W3XG1VD8ZD5TXSYQMFMSR","created_at":"2022-03-27T05:03:26.203Z","updated_at":"2022-03-27T05:03:26.203Z","expires_at":"2022-03-27T05:13:26.204Z","authentication_factor_id":"auth_factor_01FZ4TS14D1PHFNZ9GF6YD8M1F"}'
  recorded_at: Sun, 27 Mar 2022 05:03:26 GMT
recorded_with: VCR 5.0.0
