---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/users/send_password_reset_email
    body:
      encoding: UTF-8
      string: '{"email":"lucy.lawless@example.com","password_reset_url":"https://example.com/reset"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"174-DVzVYOTqyX3q/AyatAXKdpEIXt0"
    body:
      encoding: UTF-8
      string: '{"token":"rg8vGZMLw94dXmdqAbb42xrwN","user":{"object":"user","id":"user_01H7WRJBPAAHX1BYRQHEK7QC4A","email":"lucy.lawless@example.com","first_name":"Lucy","last_name":"Lawless","created_at":"2023-08-15T14:11:04.519Z","updated_at":"2023-08-17T19:43:38.890Z","email_verified":false}}'
  recorded_at: Tue, 22 Aug 2023 15:17:54 GMT
recorded_with: VCR 5.0.0
