---
http_interactions:
- request:
    method: get
    uri: https://api.workos.com/directory_groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"db-gphk1TAe8P3eXtQnl1v8qxKQjZs"
    body:
      encoding: UTF-8
      string: '{"message":"Validation failed","errors":[{"field":"directory","code":"Please
        provide either \"directory\" or \"user\" parameters."},{"field":"user","code":"Please
        provide either \"directory\" or \"user\" parameters."}]}'
  recorded_at: Thu, 22 Apr 2021 21:58:31 GMT
recorded_with: VCR 5.0.0
