---
http_interactions:
- request:
    method: get
    uri: https://api.workos.com/directories/directory_01FK17DWRHH7APAFXT5B52PV0W
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"149-gnrinkKr5pyIOSLENIObBLph9N0"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"directory","id":"directory_01FK17DWRHH7APAFXT5B52PV0W","organization_id":"org_01F6Q6TFP7RD2PF6J03ANNWDKV","name":"Testing
        Active Attribute","external_key":"QArgyQQkq4G0MquM","type":"azure scim v2.0","state":"linked","created_at":"2021-10-27T15:55:47.856Z","updated_at":"2021-10-27T16:03:43.990Z","domain":"example.me"}'
  recorded_at: Sun, 07 Nov 2021 19:18:31 GMT
recorded_with: VCR 5.0.0
