---
http_interactions:
- request:
    method: get
    uri: https://api.workos.com/directory_users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"de-33B+CY27z2HlOGKZPu4nzUVQpuI"
    body:
      encoding: UTF-8
      string: '{"message":"Validation failed","errors":[{"field":"directory","code":"Please
        provide either \"directory\" or \"group\" parameters."},{"field":"group","code":"Please
        provide either \"directory\" or \"group\" parameters."}]}'
  recorded_at: Thu, 30 Apr 2020 06:23:44 GMT
recorded_with: VCR 5.0.0
