---
http_interactions:
- request:
    method: get
    uri: https://api.workos.com/user_management/magic_auth/invalid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8a-boo9lPL4s/fqPxV0Hun3Ue0NFew"
    body:
      encoding: ASCII-8BIT
      string: '{"message":"MagicAuth not found: ''magic_auth_invalid''.","code":"entity_not_found","entity_id":"magic_auth_invalid"}'
  recorded_at: Thu, 02 May 2024 23:53:49 GMT
recorded_with: VCR 5.0.0
