---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/user_management/users
    body:
      encoding: UTF-8
      string: '{"email":"external@example.com","password":null,"first_name":"External","last_name":"User","email_verified":null,"external_id":"ext_user_123","password_hash":null,"password_hash_type":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - 'Bearer '
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1a-pljHtlo127JYJR4E/RYOPb6ucbw"
    body:
      encoding: UTF-8
      string: '{"message":"Unauthorized"}'
  recorded_at: Mon, 30 Jun 2025 15:46:17 GMT
recorded_with: VCR 6.3.1
