---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/user_management/users
    body:
      encoding: UTF-8
      string: '{"email":"","password":null,"first_name":null,"last_name":null,"email_verified":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9f-BfzHwYu4Bw+fPyyn8hWTmMF4Lio"
    body:
      encoding: UTF-8
      string: '{"code":"invalid_request_parameters","message":"Validation failed","errors":[{"code":"email_string_required","message":"Email
        should be a non-empty string."}]}'
  recorded_at: Wed, 16 Aug 2023 22:20:27 GMT
recorded_with: VCR 5.0.0
