---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/users
    body:
      encoding: UTF-8
      string: '{"email":"foo@example.com","password":null,"first_name":"Foo","last_name":"Bar","email_verified":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"14f-2n2KgFcHBXf1Yz7SYqzpAxR3E/E"
    body:
      encoding: UTF-8
      string: '{"object":"user","id":"user_01H81XWBPCV7Y9Q3DHCZHZ9SF8","email":"foo@example.com","first_name":"Foo","last_name":"Bar","created_at":"2023-08-17T14:20:07.199Z","updated_at":"2023-08-17T14:20:07.199Z","email_verified":true}'
  recorded_at: Thu, 17 Aug 2023 14:20:07 GMT
recorded_with: VCR 5.0.0
