---
http_interactions:
  - request:
      method: get
      uri: https://api.workos.com/users/user_01H7TVSKS45SDHN5V9XPSM6H44
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer <API_KEY>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"141-O6DsNeF3SRNndlNrActm2XgXhM8"
      body:
        encoding: ASCII-8BIT
        string: '{"object":"user","id":"user_01H7TVSKS45SDHN5V9XPSM6H44","email":"bob@example.com","first_name":"Bob","last_name":"Loblaw","created_at":"2023-08-14T20:28:58.929Z","updated_at":"2023-08-14T20:28:58.929Z","user_type":"unmanaged","email_verified_at":null,"google_oauth_profile_id":null,"microsoft_oauth_profile_id":null}'
    recorded_at: Mon, 14 Aug 2023 21:42:04 GMT
recorded_with: VCR 5.0.0
