---
http_interactions:
- request:
    method: delete
    uri: https://api.workos.com/users/user_01H7WRJBPAAHX1BYRQHEK7QC4A/organizations/org_01GEQJ8PKE4WH1Q09RSC8CCVJ1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"147-TjNiyizs89qZMaCxO6Rci3VnXu8"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"user","id":"user_01H7WRJBPAAHX1BYRQHEK7QC4A","email":"lucy.lawless@example.com","first_name":"Lucy","last_name":"Lawless","created_at":"2023-08-15T14:11:04.519Z","updated_at":"2023-08-15T14:11:04.519Z","user_type":"unmanaged","email_verified_at":null,"google_oauth_profile_id":null,"microsoft_oauth_profile_id":null}'
  recorded_at: Thu, 17 Aug 2023 15:38:37 GMT
recorded_with: VCR 5.0.0
