---
http_interactions:
- request:
    method: delete
    uri: https://api.workos.com/users/bad_id/organizations/bad_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6c-1w6g+Bb2hZ3cFFUMzyAN6Cqk2/k"
    body:
      encoding: ASCII-8BIT
      string: '{"message":"UserOrganizationMembership not found: ''bad_id''.","code":"entity_not_found","entity_id":"bad_id"}'
  recorded_at: Thu, 17 Aug 2023 15:38:37 GMT
recorded_with: VCR 5.0.0
