---
http_interactions:
- request:
    method: put
    uri: https://api.workos.com/users/user_01H7TVSKS45SDHN5V9XPSM6H44
    body:
      encoding: UTF-8
      string: '{"password":"Sw0rdfi$h"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"165-4Lpw7MRpcq4ALb53K0pAK0OsA3w"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"user","id":"user_01H7TVSKS45SDHN5V9XPSM6H44","email":"willman@blips.app","email_verified":true,"first_name":null,"last_name":null,"created_at":"2023-08-14T20:28:58.929Z","updated_at":"2023-08-26T00:08:18.657Z","user_type":"unmanaged","email_verified_at":"2023-08-22T11:18:01.850Z","google_oauth_profile_id":null,"microsoft_oauth_profile_id":null}'
  recorded_at: Sat, 26 Aug 2023 00:18:07 GMT
recorded_with: VCR 5.0.0
