---
http_interactions:
- request:
    method: put
    uri: https://api.workos.com/users/invalid
    body:
      encoding: UTF-8
      string: '{"password":"Sw0rdfi$h"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"58-5GtYccQgavNavjEU+gaKkOl1gq4"
    body:
      encoding: ASCII-8BIT
      string: '{"message":"User not found: ''invalid''.","code":"entity_not_found","entity_id":"invalid"}'
  recorded_at: Sat, 26 Aug 2023 00:18:07 GMT
recorded_with: VCR 5.0.0
