---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/organizations
    body:
      encoding: UTF-8
      string: '{"domains":["example.com"],"name":"Test Organization 2"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"49-8i1S2EtfSciiA8rvGWbYFNlSlhw"
    body:
      encoding: UTF-8
      string: '{"message":"An Organization with the domain example.com already exists."}'
  recorded_at: Wed, 09 Sep 2020 21:26:03 GMT
recorded_with: VCR 5.0.0