---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/organizations
    body:
      encoding: UTF-8
      string: '{"domain_data":null,"domains":null,"name":"Test Organization","allow_profiles_outside_organization":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e3-wm7ZLsZabhBpnQsj6nbIuYbCvJ4"
    body:
      encoding: UTF-8
      string: '{"object":"organization","id":"org_01HWP84BDGAVGEEWB22A0CVV7G","name":"Test
        Organization","allow_profiles_outside_organization":false,"created_at":"2024-04-30T00:57:59.983Z","updated_at":"2024-04-30T00:57:59.983Z","domains":[]}'
  recorded_at: Tue, 30 Apr 2024 00:58:00 GMT
recorded_with: VCR 5.0.0
