---
http_interactions:
- request:
    method: put
    uri: https://api.workos.com/organizations/org_01K0SQV0S6EPWK2ZDEFD1CP1JC
    body:
      encoding: UTF-8
      string: '{"name":"Test Organization","external_id":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"104-iVnG8ziU2vR/dhIQFse9HLEGA6c"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"organization","id":"org_01K0SQV0S6EPWK2ZDEFD1CP1JC","name":"Test
        Organization","allow_profiles_outside_organization":false,"created_at":"2025-07-22T18:55:20.355Z","updated_at":"2025-07-23T14:19:40.831Z","domains":[],"metadata":{},"external_id":null}'
  recorded_at: Wed, 23 Jul 2025 14:19:40 GMT
recorded_with: VCR 5.0.0
