---
http_interactions:
  - request:
      method: post
      uri: https://api.workos.com/audit_logs/exports
      body:
        encoding: UTF-8
        string:
          '{"organization_id":"org_123","range_start":"2022-06-22T15:04:19.704Z","range_end":"2022-08-22T15:04:19.704Z","actions":["user.signed_in"],"actors":["Jon
          Smith"],"targets":["user","team"]}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - "Bearer example_api_key"
    response:
      status:
        code: 201
        message: Created
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"1a-pljHtlo127JYJR4E/RYOPb6ucbw"
      body:
        encoding: UTF-8
        string: '{"object":"audit_log_export","id":"audit_log_export_123","state":"pending","created_at":"2022-08-22T15:04:19.704Z","updated_at":"2022-08-22T15:04:19.704Z"}'
    recorded_at: Mon, 22 Aug 2022 17:47:49 GMT
recorded_with: VCR 5.0.0
