---
http_interactions:
  - request:
      method: post
      uri: https://api.workos.com/audit_logs/events
      body:
        encoding: UTF-8
        string: '{"organization_id":"org_123","event":{"action":"user.signed_in","occurred_at":"2022-08-22T15:04:19.704Z","actor":{"id":"user_123","type":"user","name":"User","metadata":{"foo":"bar"}},"targets":[{"id":"team_123","type":"team","name":"Team","metadata":{"foo":"bar"}}],"context":{"location":"1.1.1.1","user_agent":"Mozilla"}}}'
      headers:
        Content-Type: "application/json"
        Authorization: "Bearer "
        Idempotency-Key: "idempotency_key"
    response:
      status:
        code: 201
        message: Created
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"10-oV4hJxRVSENxc/wX8+mA4/Pe4tA"
      body:
        encoding: UTF-8
        string: '{"success":true}'
    recorded_at: Sat, 11 Jan 2020 04:22:48 GMT
recorded_with: VCR 5.0.0
