---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/events
    body:
      encoding: UTF-8
      string: '{"group":"Terrace House","location":"1.1.1.1","action":"house.created","actor_name":"Daiki
        Miyagi","actor_id":"user_12345","target_name":"Ryota Yamasato","target_id":"user_67890","occurred_at":"2020-01-10T15:30:00-05:00","metadata":{"a":"b"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"68-JY6dzr9lnqlivbnfVxCBKwKt3Zc"
    body:
      encoding: UTF-8
      string: '{"message":"Validation failed","errors":[{"field":"action_type","code":"action_type
        must be a string"}]}'
  recorded_at: Sat, 11 Jan 2020 02:32:14 GMT
recorded_with: VCR 5.0.0
