---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/users/magic_auth/send
    body:
      encoding: UTF-8
      string: '{"email_address":"lucy.lawless@example.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"52-oA5fpzR/tRSq0MoPAXFAcFsRNp4"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"magic_auth_challenge","id":"auth_challenge_01H8D0ZVH77EEYMDJJRRT8A8AC"}'
  recorded_at: Mon, 21 Aug 2023 21:46:06 GMT
recorded_with: VCR 5.0.0
