---
http_interactions:
  - request:
      method: post
      uri: https://api.workos.com/user_management/magic_auth/send
      body:
        encoding: UTF-8
        string: '{"email_address":"test@gmail.com"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer <API_KEY>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"178-SVaSEtrIczZQlwnTK57+aDrxt/g"
      body:
        encoding: ASCII-8BIT
        string: '{"user":{"object":"user","id":"user_01H93WD0R0KWF8Q7BK02C0RPYJ","email":"test@gmail.com","email_verified":true,"first_name":"Adam","last_name":"Zinder","created_at":"2023-08-30T18:48:26.517Z","updated_at":"2023-08-30T18:58:00.821Z","user_type":"unmanaged","email_verified_at":"2023-08-30T18:58:00.915Z","google_oauth_profile_id":null,"microsoft_oauth_profile_id":null}}'
    recorded_at: Thu, 31 Aug 2023 16:32:01 GMT
recorded_with: VCR 5.0.0
