---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/passwordless/sessions
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer sk_4q5ka3d9bx0XJiZhkKmUIOG87
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"96-O5ltHaJ3rEQ8+dqFwhN+Lhmgdb0"
    body:
      encoding: UTF-8
      string: '{"message":"Validation failed","errors":[{"field":"email","code":"email
        must be a string"},{"field":"type","code":"type must be a valid enum value"}]}'
  recorded_at: Wed, 16 Sep 2020 17:34:07 GMT
recorded_with: VCR 5.0.0
