---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/organizations
    body:
      encoding: UTF-8
      string: '{"domains":["example.me"],"name":"Test Organization","allow_profiles_outside_organization":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
      Idempotency-Key:
      - bar
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"146-afNLOMwUQIrtlSBL9lu7IDJkGmE"
    body:
      encoding: UTF-8
      string: '{"object":"organization","id":"org_01GAV5A1WPHEZSV53EAPCTBR9B","name":"Test
        Organization","allow_profiles_outside_organization":false,"created_at":"2022-08-19T13:40:02.070Z","updated_at":"2022-08-19T13:40:02.070Z","domains":[{"object":"organization_domain","id":"org_domain_01GAV5A1ZFCW6RQDRV10ZE483J","domain":"example.me"}]}'
  recorded_at: Fri, 19 Aug 2022 13:40:02 GMT
- request:
    method: post
    uri: https://api.workos.com/organizations
    body:
      encoding: UTF-8
      string: '{"domains":["example.me"],"name":"Organization Test","allow_profiles_outside_organization":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
      Idempotency-Key:
      - bar
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"80-jILfJK6SRXhN8oqz8Na6yutVwHM"
    body:
      encoding: UTF-8
      string: '{"message":"Another idempotency key (bar) with different request parameters
        was found. Please use a different idempotency key."}'
  recorded_at: Fri, 19 Aug 2022 13:40:02 GMT
recorded_with: VCR 5.0.0
