---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/organizations
    body:
      encoding: UTF-8
      string: '{"domains":["example.io"],"name":"Test Organization","allow_profiles_outside_organization":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
      Idempotency-Key:
      - key
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"146-1Y3p/YYf611sd+3wEGWn2SaT/YM"
    body:
      encoding: UTF-8
      string: '{"object":"organization","id":"org_01GAV5A104T7PM2DHC3VQH8MP6","name":"Test
        Organization","allow_profiles_outside_organization":false,"created_at":"2022-08-19T13:40:01.155Z","updated_at":"2022-08-19T13:40:01.155Z","domains":[{"object":"organization_domain","id":"org_domain_01GAV5A10EA6R0YNJR5H5A9N6C","domain":"example.io"}]}'
  recorded_at: Fri, 19 Aug 2022 13:40:01 GMT
recorded_with: VCR 5.0.0
