---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/organizations
    body:
      encoding: UTF-8
      string: '{"domains":["example.com"],"name":"Test Organization","allow_profiles_outside_organization":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
      Idempotency-Key:
      - foo
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"147-YF7FuE2/wP7OMOkruNN4e9OkzCY"
    body:
      encoding: UTF-8
      string: '{"object":"organization","id":"org_01GAV5A1B248PX6WRB13XARPTZ","name":"Test
        Organization","allow_profiles_outside_organization":false,"created_at":"2022-08-19T13:40:01.505Z","updated_at":"2022-08-19T13:40:01.505Z","domains":[{"object":"organization_domain","id":"org_domain_01GAV5A1BBGR8WCV5971BFZAQX","domain":"example.com"}]}'
  recorded_at: Fri, 19 Aug 2022 13:40:01 GMT
- request:
    method: post
    uri: https://api.workos.com/organizations
    body:
      encoding: UTF-8
      string: '{"domains":["example.com"],"name":"Test Organization","allow_profiles_outside_organization":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
      Idempotency-Key:
      - foo
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"147-6F+ebkGefNxiuuyTjUt6cZjj5f4"
    body:
      encoding: UTF-8
      string: '{"id":"org_01GAV5A1B248PX6WRB13XARPTZ","name":"Test Organization","object":"organization","domains":[{"id":"org_domain_01GAV5A1BBGR8WCV5971BFZAQX","domain":"example.com","object":"organization_domain"}],"created_at":"2022-08-19T13:40:01.505Z","updated_at":"2022-08-19T13:40:01.505Z","allow_profiles_outside_organization":false}'
  recorded_at: Fri, 19 Aug 2022 13:40:01 GMT
recorded_with: VCR 5.0.0
