---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/organizations
    body:
      encoding: UTF-8
      string: '{"domain_data":null,"domains":["example.io"],"name":"Test Organization","allow_profiles_outside_organization":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"160-DoBiYByX9XrgXYYHDZKVF2kbtrY"
    body:
      encoding: UTF-8
      string: '{"object":"organization","id":"org_01HWP8MSH28Z7SW2H6KK65S6VF","name":"Test
        Organization","allow_profiles_outside_organization":false,"created_at":"2024-04-30T01:06:58.720Z","updated_at":"2024-04-30T01:06:58.720Z","domains":[{"state":"legacy_verified","object":"organization_domain","id":"org_domain_01HWP8MSHEX4KR7TJJFAFN9MK2","domain":"example.io"}]}'
  recorded_at: Tue, 30 Apr 2024 01:06:58 GMT
recorded_with: VCR 5.0.0
