---
http_interactions:
- request:
    method: get
    uri: https://api.workos.com/organizations/org_01EZDF20TZEJXKPSX2BJRN6TV6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"138-g/hQHq1azVQbQRpF7ECy/AbaJ8E"
    body:
      encoding: UTF-8
      string: '{"object":"organization","id":"org_01EZDF20TZEJXKPSX2BJRN6TV6","name":"Foo
        Corp","domains":[{"object":"organization_domain","id":"org_domain_01EZDF20V4VAME34TF0B3DPK49","domain":"foo-corp.com"},{"object":"organization_domain","id":"org_domain_01F2PYX1XMS5ZQW1E8FZ57GPQN","domain":"blairworkos.onmicrosoft.com"}]}'
  recorded_at: Mon, 10 May 2021 17:21:42 GMT
recorded_with: VCR 5.0.0
