---
http_interactions:
- request:
    method: get
    uri: https://api.workos.com/organizations/org_01F9293WD2PDEEV4Y625XPZVG7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"113-c2EcE6OaGdH7UcEB3NeDrhAgRVw"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"organization","id":"org_01F9293WD2PDEEV4Y625XPZVG7","name":"Foo
        Corp","allow_profiles_outside_organization":false,"created_at":"2021-06-25T19:07:33.155Z","updated_at":"2021-06-25T19:07:33.155Z","domains":[{"object":"organization_domain","id":"org_domain_01F9293WD8KZAS4ESBK57SZ4D8","domain":"foo-corp.com"}]}'
  recorded_at: Mon, 09 Aug 2021 21:53:34 GMT
recorded_with: VCR 5.0.0
