---
http_interactions:
  - request:
      method: get
      uri: https://api.workos.com/organizations/org_01JEXP6Z3X7HE4CB6WQSH9ZAFE/feature-flags
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer <API_KEY>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"6b6-bZ2pS5djCBrbcATBSFlbZ90PHB8"
      body:
        encoding: ASCII-8BIT
        string: '{"object":"list","data":[{"object":"feature_flag","id":"flag_01JF0B7MQ9X414WQRAQMQYE1GS","description":"","name":"New AI Feature","slug":"new-ai-feature","created_at":"2025-07-13T15:47:10.692Z","updated_at":"2025-07-13T15:47:10.692Z"},{"object":"feature_flag","id":"flag_01EHQMYV6MBK39QC5PZXHY59C6","description":"Access 
        to premium support features","name":"Premium Support","slug":"premium-support","created_at":"2025-07-13T15:47:10.692Z","updated_at":"2025-07-13T15:47:10.692Z"}],"listMetadata":{"before":"before-id","after":null}}'
    recorded_at: Mon, 23 Dec 2024 20:23:07 GMT
recorded_with: VCR 5.0.0
