---
http_interactions:
  - request:
      method: put
      uri: https://api.workos.com/organizations/org_01F6Q6TFP7RD2PF6J03ANNWDKV
      body:
        encoding: UTF-8
        string: '{"domains":["example.me"]}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer <API_KEY>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"11a-SLpC9UGp2O5SWQr5VJZSNCpOF/Q"
      body:
        encoding: ASCII-8BIT
        string:
          '{"object":"organization","id":"org_01F6Q6TFP7RD2PF6J03ANNWDKV","name":"Test
          Organization","allow_profiles_outside_organization":false,"created_at":"2021-05-27T15:24:25.670Z","updated_at":"2021-08-09T21:53:34.525Z","domains":[{"object":"organization_domain","id":"org_domain_01FCPEG7BAYMQ4CHMG41Y2VNHF","domain":"example.me"}]}'
    recorded_at: Mon, 09 Aug 2021 21:53:34 GMT
recorded_with: VCR 5.0.0
