---
http_interactions:
- request:
    method: put
    uri: https://api.workos.com/organizations/org_01F29YJ068E52HGEB8ZQGC9MJG
    body:
      encoding: UTF-8
      string: '{"domains":["example.com"],"name":"Test Organization 2"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cd-mlRMlyyz/LtzInRhAghs1B+BT4s"
    body:
      encoding: UTF-8
      string: '{"object":"organization","id":"org_01F29YJ068E52HGEB8ZQGC9MJG","name":"Test
        Organization 2","domains":[{"object":"organization_domain","id":"org_domain_01F4Z9GY3089GV4SENXWZ9RBX1","domain":"example.com"}]}'
  recorded_at: Wed, 05 May 2021 22:14:10 GMT
recorded_with: VCR 5.0.0
