---
http_interactions:
- request:
    method: put
    uri: https://api.workos.com/organizations/org_01F29YJ068E52HGEB8ZQGC9MJG
    body:
      encoding: UTF-8
      string: '{"domains":["example.me"],"name":"Test Organization"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ca-cUBZaGl5MJlERA8SKJ9+GrSHPM0"
    body:
      encoding: UTF-8
      string: '{"object":"organization","id":"org_01F29YJ068E52HGEB8ZQGC9MJG","name":"Test
        Organization","domains":[{"object":"organization_domain","id":"org_domain_01F4Z9GXPP2BEH019613C72E4Y","domain":"example.me"}]}'
  recorded_at: Wed, 05 May 2021 22:14:09 GMT
recorded_with: VCR 5.0.0
