---
http_interactions:
  - request:
      method: post
      uri: https://api.workos.com/user_management/authenticate
      body:
        encoding: UTF-8
        string:
          '{"code":"invalid","client_id":"client_123","client_secret":"<API_KEY>","ip_address":"200.240.210.16","user_agent":"Mozilla/5.0
          (Macintosh; Intel Mac OS X 10_15_7) Chrome/108.0.0.0 Safari/537.36","grant_type":"authorization_code"}'
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 400
        message: Bad Request
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"5c-iYZxvYBkO+QosPHgQENUzbE8Uac"
      body:
        encoding: UTF-8
        string:
          '{"error":"invalid_grant","error_description":"The code ''452079'' has
          expired or is invalid."}'
    recorded_at: Wed, 30 Aug 2023 19:51:51 GMT
recorded_with: VCR 5.0.0
