---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/widgets/token
    body:
      encoding: UTF-8
      string: '{"organization_id":"org_01JCP9G67MNAH0KC4B72XZ67M7","user_id":"bogus-id","scopes":["widgets:users-table:manage"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5a-TOigA+IvFyAtHvUdIXFXZWRdn8I"
    body:
      encoding: ASCII-8BIT
      string: '{"message":"User not found: ''bogus-id''.","code":"entity_not_found","entity_id":"bogus-id"}'
  recorded_at: Thu, 14 Nov 2024 22:02:46 GMT
recorded_with: VCR 5.0.0
