---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/widgets/token
    body:
      encoding: UTF-8
      string: '{"organization_id":"bogus-id","user_id":"user_01JCP9H4SHS4N3J6XTKDT7JNPE","scopes":["widgets:users-table:manage"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"62-XNhANyOqo4doKt47ORHxpVuFTYg"
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Organization not found: ''bogus-id''.","code":"entity_not_found","entity_id":"bogus-id"}'
  recorded_at: Thu, 14 Nov 2024 22:02:40 GMT
recorded_with: VCR 5.0.0
