---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/user_management/password_reset/confirm
    body:
      encoding: UTF-8
      string: '{"token":"eEgAgvAE0blvU1zWV3yWVAD22","new_password":"very_cool_new_pa$$word"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"147-j3/W7XHKx6tuvwZhBiKvsK7XVG4"
    body:
      encoding: UTF-8
      string: '{"user":{"object":"user","id":"user_01H7WRJBPAAHX1BYRQHEK7QC4A","email":"lucy.lawless@example.com","first_name":"Lucy","last_name":"Lawless","created_at":"2023-08-15T14:11:04.519Z","updated_at":"2023-08-22T20:34:49.277Z","email_verified":false}}'
  recorded_at: Tue, 22 Aug 2023 20:35:40 GMT
recorded_with: VCR 5.0.0
