---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/user_management/authenticate
    body:
      encoding: UTF-8
      string: '{"client_id":"project_01EGKAEB7G5N88E83MF99J785F","client_secret":"","ip_address":null,"user_agent":null,"grant_type":"urn:workos:oauth:grant-type:organization-selection","organization_id":"invalid_org_id","pending_authentication_token":"pending_authentication_token_1234"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9b-OK0o7f8HUr1VD42cGHuyxEaTUsQ"
    body:
      encoding: UTF-8
      string: '{"code":"invalid_pending_authentication_token","message":"The pending_authentication_token
        ''pending_authentication_token_1234'' has expired or is invalid."}'
  recorded_at: Wed, 20 Dec 2023 22:00:13 GMT
recorded_with: VCR 5.0.0
