---
http_interactions:
  - request:
      method: post
      uri: https://api.workos.com/user_management/authenticate
      body:
        encoding: UTF-8
        string:
          '{"code":"invalid","user_id":"user_01H93WD0R0KWF8Q7BK02C0RPY","client_id":"client_123","client_secret":"<API_KEY>","ip_address":"200.240.210.16","user_agent":"Mozilla/5.0
          (Macintosh; Intel Mac OS X 10_15_7) Chrome/108.0.0.0 Safari/537.36","grant_type":"urn:workos:oauth:grant-type:magic-auth:code"}'
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 404
        message: Not Found
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"86-X4Q7F02iXed9FifFtOSpB/M42Bc"
      body:
        encoding: ASCII-8BIT
        string: '{"message":"User not found: ''user_01H93WD0R0KWF8Q7BK02C0RPY''.","code":"entity_not_found","entity_id":"user_01H93WD0R0KWF8Q7BK02C0RPY"}'
    recorded_at: Wed, 30 Aug 2023 18:58:01 GMT
recorded_with: VCR 5.0.0
