---
http_interactions:
  - request:
      method: post
      uri: https://api.workos.com/user_management/authenticate
      body:
        encoding: UTF-8
        string:
          '{"client_id":"client_123","client_secret":"<API_KEY>","email":"invalid@workos.app","password":"invalid","ip_address":"200.240.210.16","user_agent":"Mozilla/5.0
          (Macintosh; Intel Mac OS X 10_15_7) Chrome/108.0.0.0 Safari/537.36","grant_type":"password"}'
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 404
        message: Not Found
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"68-vJ+qM+jhqT7OYdncb+ks9c+Wbao"
      body:
        encoding: ASCII-8BIT
        string: '{"message":"User not found: ''other@blips.app''.","code":"entity_not_found","entity_id":"other@blips.app"}'
    recorded_at: Tue, 29 Aug 2023 00:24:25 GMT
recorded_with: VCR 5.0.0
