---
http_interactions:
  - request:
      method: post
      uri: https://api.workos.com/user_management/authenticate
      body:
        encoding: UTF-8
        string:
          '{"client_id":"client_123","client_secret":"<API_KEY>","email":"unverified@workos.app","password":"7YtYic00VWcXatPb","ip_address":"200.240.210.16","user_agent":"Mozilla/5.0
          (Macintosh; Intel Mac OS X 10_15_7) Chrome/108.0.0.0 Safari/537.36","grant_type":"password"}'
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 403
        message: Email ownership must be verified before authentication.
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"16e-hoaHaR0EhmAH7TaNBOF8B2OHJq4"
      body:
        encoding: ASCII-8BIT
        string: '{"code":"email_verification_required", "message":"Email ownership must be verified before authentication.", "email":"unverified@workos.app", "pending_authentication_token":"RWx94aFHwanPOebv7tKbBkJm0", "email_verification_id":"email_verification_01JG43A0WYAFAPHMNBV5XF2R4M"}'
    recorded_at: Tue, 29 Aug 2023 00:24:25 GMT
recorded_with: VCR 5.0.0
