---
http_interactions:
- request:
    method: put
    uri: https://api.workos.com/user_management/users/user_01K78B3ZB5B7119MYEXTQE5KNE
    body:
      encoding: UTF-8
      string: '{"locale":"en-US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"14b-avtqVpGgr9LY49Al2c3gzw62Mbc"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"user","id":"user_01K78B3ZB5B7119MYEXTQE5KNE","email":"test-locale@example.com","email_verified":false,"first_name":"Jane","last_name":"Doe","profile_picture_url":null,"metadata":{},"last_sign_in_at":null,"locale":"en-US","created_at":"2025-10-11T00:35:49.727Z","updated_at":"2025-10-11T00:40:19.051Z","external_id":null}'
  recorded_at: Sat, 11 Oct 2025 00:40:19 GMT
recorded_with: VCR 6.3.1
