---
http_interactions:
- request:
    method: put
    uri: https://api.workos.com/user_management/users/user_01H7TVSKS45SDHN5V9XPSM6H44
    body:
      encoding: UTF-8
      string: '{"locale":"en-US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"153-w5d8Z7u7b9Obt9NziECtNSAY9Ac"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"user","id":"user_01H7TVSKS45SDHN5V9XPSM6H44","email":"willman@blips.app","email_verified":false,"first_name":"Jane","last_name":"Doe","external_id":"123","locale":"en-US","created_at":"2023-08-14T20:28:58.929Z","updated_at":"2023-08-25T22:57:44.262Z","user_type":"unmanaged","email_verified_at":null,"google_oauth_profile_id":null,"microsoft_oauth_profile_id":null}'
  recorded_at: Fri, 25 Aug 2023 23:37:04 GMT
recorded_with: VCR 5.0.0