---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/auth/factors/challenge
    body:
      encoding: UTF-8
      string: '{"sms_template":null,"authentication_factor_id":"auth_factor_01FZ4TS0MWPZR7GATS7KCXANQZ"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ea-SVZUKXJpb27hGw8Q2jIf8W5kZA8"
    body:
      encoding: UTF-8
      string: '{"object":"authentication_challenge","id":"auth_challenge_01FZ4W3X566NPKJRNB85KHF74F","created_at":"2022-03-27T05:03:25.859Z","updated_at":"2022-03-27T05:03:25.859Z","expires_at":"2022-03-27T05:13:26.204Z","authentication_factor_id":"auth_factor_01FZ4TS0MWPZR7GATS7KCXANQZ"}'
  recorded_at: Sun, 27 Mar 2022 05:03:25 GMT
recorded_with: VCR 5.0.0
