---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/auth/factors/enroll
    body:
      encoding: UTF-8
      string: type=sms&phone_number=%2B15005550006
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"10d-MZHk+Xqi2qEduqnXhjVPJ4U7QkM"
    body:
      encoding: UTF-8
      string: '{"object":"authentication_factor","id":"auth_factor_01FZ1RBDK2RQGK35F4KNK4FVQP","created_at":"2022-03-25T23:59:54.438Z","updated_at":"2022-03-25T23:59:54.438Z","type":"sms","environment_id":"environment_01EQ1FTYTAZCVYSV4SYSRWRR3A","sms":{"phone_number":"+15005550006"}}'
  recorded_at: Fri, 25 Mar 2022 23:59:54 GMT
recorded_with: VCR 5.0.0
