---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/auth/factors/enroll
    body:
      encoding: UTF-8
      string: '{"type":"sms","totp_issuer":null,"totp_user":null,"phone_number":"16073517112"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"10d-s7YFa2CZnDwEUgFqpAYbiwzv0+U"
    body:
      encoding: UTF-8
      string: '{"object":"authentication_factor","id":"auth_factor_01FZ8HVEV5XV0YQ0ENHWM14CCB","created_at":"2022-03-28T15:21:00.975Z","updated_at":"2022-03-28T15:21:00.975Z","type":"sms","environment_id":"environment_01EQ1FTYTAZCVYSV4SYSRWRR3A","sms":{"phone_number":"+55555555555"}}'
  recorded_at: Mon, 28 Mar 2022 15:21:01 GMT
recorded_with: VCR 5.0.0
