---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/auth/factors/enroll
    body:
      encoding: UTF-8
      string: '{"type":"generic_otp","totp_issuer":null,"totp_user":null,"phone_number":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ef-wqcMjWChK4ut5ZQqtU8qO89bfTU"
    body:
      encoding: UTF-8
      string: '{"object":"authentication_factor","id":"auth_factor_01FZ4WMXXA09XF6NK1XMKNWB3M","created_at":"2022-03-27T05:12:43.689Z","updated_at":"2022-03-27T05:12:43.689Z","type":"generic_otp"}'
  recorded_at: Sun, 27 Mar 2022 05:12:43 GMT
recorded_with: VCR 5.0.0
