---
http_interactions:
- request:
    method: get
    uri: https://api.workos.com/auth/factors/auth_factor_invalid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"81-gfVNI7PEuzipMtQc8g0k4FkGMX4"
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Authentication Factor not found: ''auth_factor_invalid''.","code":"entity_not_found","entity_id":"auth_factor_invalid"}'
  recorded_at: Sun, 27 Mar 2022 19:13:46 GMT
recorded_with: VCR 5.0.0
