---
http_interactions:
- request:
    method: get
    uri: https://api.workos.com/connections/conn_01EX00NB050H354WKGC7990AR2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"836-/Jl+RySSMUBYpMui2dG2YB5yCLM"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"connection","id":"conn_01EX00NB050H354WKGC7990AR2","status":"linked","state":"active","name":"Foo
        Corp","connection_type":"OktaSAML","oidc_client_id":null,"oidc_client_secret":null,"oidc_discovery_endpoint":null,"oidc_redirect_uri":null,"saml_entity_id":"http://www.okta.com/xxxx","saml_idp_url":"https://foo-corp.okta.com/app/xxxx/sso/saml","saml_relying_party_private_key":null,"saml_relying_party_public_key":null,"saml_x509_certs":null
        ,"organization_id":"org_01EWKA986CN3F3KNBJ9BQQ4ZKR","oauth_uid":null,"oauth_secret":null,"oauth_redirect_uri":null,"domains":[{"object":"connection_domain","id":"domain_01EX00NB0FYRJG06MRB8TAQ9KQ","domain":"foo-corp.com"}]}'
  recorded_at: Fri, 29 Jan 2021 15:36:23 GMT
recorded_with: VCR 5.0.0
