---
http_interactions:
- request:
    method: get
    uri: https://api.workos.com/connections?before=conn_01EQKPMQAPV02H270HKVNS4CTA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2350-Qt4e8P5kQZw9eoJFpydBl6BKaGo"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"object":"connection","id":"conn_01EQKNFQRVY56P08881CC8MFG1","status":"linked","state":"draft","name":"Google
        OAuth","connection_type":"GoogleOAuth","oidc_client_id":null,"oidc_client_secret":null,"oidc_discovery_endpoint":null,"oidc_redirect_uri":null,"saml_entity_id":null,"saml_idp_url":null,"saml_relying_party_private_key":null,"saml_relying_party_public_key":null,"saml_x509_certs":null,"organization_id":"org_01EQKNFQPY71VPSEM928XDXMPK","oauth_uid":"658654540757-gbfpkkdff1njvhsf3ctlovnu5gd50tu9.apps.googleusercontent.com","oauth_secret":"iABAPUK6NWRas4bnRq2_qKS3","oauth_redirect_uri":"https://auth.workos.com/sso/oauth/google/xxxxxx/callback","domains":[{"object":"connection_domain","id":"domain_01EQKNFQS6N2SZ095SSPJGFKXP","domain":"node-test.com"}]}],"listMetadata":{"before":"conn_01EM7DGSQSSSJB9SXXRY9JJJVX","after":"conn_01EQKNFQRVY56P08881CC8MFG1"}}'
  recorded_at: Wed, 27 Jan 2021 23:00:35 GMT
recorded_with: VCR 5.0.0
