---
http_interactions:
- request:
    method: get
    uri: https://api.workos.com/connections?organization_id=org_01EGS4P7QR31EZ4YWD1Z1XA176
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7f7-Srp6Nv6te4CUMvxv1RKUf5Mte/4"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"object":"connection","id":"conn_01EGS6E1K7YK1G380ADPHTDC4K","status":"linked","state":"active","name":"foochrop","connection_type":"GoogleSAML","oidc_client_id":null,"oidc_client_secret":null,"oidc_discovery_endpoint":null,"oidc_redirect_uri":null,"saml_entity_id":"https://accounts.google.com/o/saml2?idpid=4444","saml_idp_url":"https://accounts.google.com/o/saml2/idp?idpid=4444","saml_relying_party_private_key":null,"saml_relying_party_public_key":null,"saml_x509_certs":null,"organization_id":"org_01EGS4P7QR31EZ4YWD1Z1XA176","oauth_uid":null,"oauth_secret":null,"oauth_redirect_uri":null,"domains":[{"object":"connection_domain","id":"domain_01EGS6E1KPBD018BHS9Z10VHR9","domain":"foo-corp.com"}]}],"listMetadata":{"before":null,"after":null}}'
  recorded_at: Wed, 24 Feb 2021 19:48:04 GMT
recorded_with: VCR 5.0.0
