---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/user_management/password_reset/send
    body:
      encoding: UTF-8
      string: '{"email":"foo@bar.com","password_reset_url":""}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b9-MwpjOZS5P8vwlJwJ2Wcz1gYyf6Y"
    body:
      encoding: UTF-8
      string: '{"code":"invalid_request_parameters","message":"Validation failed","errors":[{"code":"password_reset_url_string_required","message":"Password
        Reset Url should be a non-empty string."}]}'
  recorded_at: Tue, 22 Aug 2023 15:17:55 GMT
recorded_with: VCR 5.0.0
