---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/user_management/password_reset
    body:
      encoding: UTF-8
      string: '{"email":"blair@workos.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"18d-Z6VC8jkvZuXmNL0BcJcqkF7M0BQ"
    body:
      encoding: UTF-8
      string: '{"object":"password_reset","id":"password_reset_01HYKA8DTF8TW5YD30MF0ZXZKT","user_id":"user_01HH5GTVSP6PEXV0SRB9ANFE9G","email":"test@workos.com","password_reset_token":"DmNQt1ZWOz7k5hulOoGDN0TZd","password_reset_url":"https://my-app.com/reset-password/?token=DmNQt1ZWOz7k5hulOoGDN0TZd","expires_at":"2024-05-23T18:23:51.024Z","created_at":"2024-05-23T18:08:51.024Z"}'
  recorded_at: Thu, 23 May 2024 18:08:50 GMT
recorded_with: VCR 5.0.0
