---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/user_management/authenticate
    body:
      encoding: UTF-8
      string: '{"refresh_token":"invalid","client_id":"client_123","client_secret":"<API_KEY>","ip_address":"200.240.210.16","user_agent":"Mozilla/5.0
        (Macintosh; Intel Mac OS X 10_15_7) Chrome/108.0.0.0 Safari/537.36","grant_type":"refresh_token"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-6ugkBnqF9SxNnhijAAHjGcT083A"
    body:
      encoding: UTF-8
      string: '{"error":"invalid_grant","error_description":"Invalid refresh token."}'
  recorded_at: Tue, 19 Mar 2024 16:06:37 GMT
recorded_with: VCR 5.0.0
