---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/user_management/password_reset
    body:
      encoding: UTF-8
      string: '{"token":"bogus_token","new_password":"new_password"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6e-ewNsQiFn+97Q628gVxOcxYY8/4k"
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Could not locate user with provided token: ''bogus_token''","code":"password_reset_token_not_found"}'
  recorded_at: Tue, 22 Aug 2023 20:37:23 GMT
recorded_with: VCR 5.0.0
