---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/portal/generate_link
    body:
      encoding: UTF-8
      string: '{"intent":"sso","organization":"bogus-id","return_url":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"43-kRRkij6uWMfZoSUJpiGbSXw7SNc"
    body:
      encoding: UTF-8
      string: '{"message":"Could not find an organization with the id, bogus-id."}'
  recorded_at: Thu, 10 Sep 2020 16:14:41 GMT
recorded_with: VCR 5.0.0
