---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/portal/generate_link
    body:
      encoding: UTF-8
      string: '{"intent":"sso","organization":"org_01EHQMYV6MBK39QC5PZXHY59C3","return_url":null,"success_url":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4f-NN86NUZRu/GQgPAYTexTS6/9DnM"
    body:
      encoding: UTF-8
      string: '{"link":"https://id.workos.com/portal/launch?secret=secret"}'
  recorded_at: Wed, 09 Sep 2020 23:43:07 GMT
recorded_with: VCR 5.0.0
