---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/portal/generate_link
    body:
      encoding: UTF-8
      string: '{"intent":"dsync","organization":"org_01EHQMYV6MBK39QC5PZXHY59C3","return_url":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"13f-sDIhblWvdtDHeus0l5VdDCMSqcs"
    body:
      encoding: UTF-8
      string: '{"link":"https://id.workos.com/portal/launch?secret=secret"}'
  recorded_at: Wed, 03 Mar 2021 21:27:43 GMT
recorded_with: VCR 5.0.0
