---
http_interactions:
- request:
    method: get
    uri: https://api.workos.com/directories?search=Foo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"131-TOcWi8K5/vWBSqHH1IZu5atd73o"
    body:
      encoding: UTF-8
      string: '{"object":"list","listMetadata":{"before":null,"after":null},"data":[{"object":"directory","id":"directory_01F5ZY7XVQZ3DRYEZTH1EPA8BS","organization_id":"org_01EZDF20TZEJXKPSX2BJRN6TV6","name":"Foo
        Corp","external_key":"qV4eyK99QGUaYYa0","type":"okta scim v2.0","state":"linked","domain":"foo-corp.com"}]}'
  recorded_at: Mon, 07 Jun 2021 17:55:30 GMT
recorded_with: VCR 5.0.0
