---
http_interactions:
- request:
    method: get
    uri: https://api.workos.com/directories?domain=foo-corp.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"100-Vh8CFQGzG+aGyEkNXe2nXGxNFJ4"
    body:
      encoding: UTF-8
      string: '{"object":"list","listMetadata":{"before":null,"after":null},"data":[{"object":"directory","id":"directory_01EK2YEMVTWGX27STRDR0N3MP9","name":"Foo
        Corp","external_key":"SZ5TZMl7gcOAKS04","type":"gsuite directory","state":"linked","domain":"foo-corp.com"}]}'
  recorded_at: Thu, 22 Apr 2021 21:33:47 GMT
recorded_with: VCR 5.0.0
