---
http_interactions:
- request:
    method: put
    uri: https://api.workos.com/user_management/organization_memberships/invalid
    body:
      encoding: US-ASCII
      string: '{"id":"invalid","role_slug":"admin"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"58-5GtYccQgavNavjEU+gaKkOl1gq4"
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Organization Membership not found: ''invalid''.","code":"entity_not_found","entity_id":"invalid"}'
  recorded_at: Thu, 20 June 2024 14:20:07 GMT
recorded_with: VCR 5.0.0
