---
  http_interactions:
  - request:
      method: put
      uri: https://api.workos.com/user_management/organization_memberships/om_01H5JQDV7R7ATEYZDEG0W5PRYS
      body:
        encoding: UTF-8
        string: '{"id":"om_01H5JQDV7R7ATEYZDEG0W5PRYS","role_slug":"admin"}'
      headers:
        Content-Type:
        - application/json
        Authorization:
        - Bearer <API_KEY>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
        - application/json; charset=utf-8
        Etag:
        - W/"14f-2n2KgFcHBXf1Yz7SYqzpAxR3E/E"
      body:
        encoding: UTF-8
        string: '{"object":"organization_membership","id":"om_01H5JQDV7R7ATEYZDEG0W5PRYS","user_id":"user_01H5JQDV7R7ATEYZDEG0W5PRYS","organization_id":"organization_01H5JQDV7R7ATEYZDEG0W5PRYS","status":"active","role":{"slug":"admin"},"created_at":"2023-07-18T02:07:19.911Z","updated_at":"2023-07-18T02:07:19.911Z"}'
    recorded_at: Wed, 15 May 2024 19:13:06 GMT
  recorded_with: VCR 5.0.0
  