---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/user_management/magic_auth
    body:
      encoding: UTF-8
      string: '{"email":"test@workos.com","invitation_token":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"112-XzVK2s+8XVoqs9cCTPJC7VyC3IQ"
    body:
      encoding: UTF-8
      string: '{"object":"magic_auth","id":"magic_auth_01HWXVEWWSMR5HS8M6FBGMBJJ9","user_id":"user_01HWXVEWSWSJ66VE29AD14KZ0C","email":"test@workos.com","code":"500013","expires_at":"2024-05-03T00:00:29.528Z","created_at":"2024-05-02T23:50:29.479Z","updated_at":"2024-05-02T23:50:29.479Z"}'
  recorded_at: Thu, 02 May 2024 23:50:29 GMT
recorded_with: VCR 5.0.0
