---
http_interactions:
  - request:
      method: post
      uri: https://api.workos.com/user_management/authenticate
      body:
        encoding: UTF-8
        string:
          '{"code":"452079","user_id":"user_01H93WD0R0KWF8Q7BK02C0RPYJ","client_id":"client_123","client_secret":"<API_KEY>","ip_address":"200.240.210.16","user_agent":"Mozilla/5.0
          (Macintosh; Intel Mac OS X 10_15_7) Chrome/108.0.0.0 Safari/537.36","grant_type":"urn:workos:oauth:grant-type:magic-auth:code"}'
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"178-SVaSEtrIczZQlwnTK57+aDrxt/g"
      body:
        encoding: ASCII-8BIT
        string: '{"user":{"object":"user","id":"user_01H93WD0R0KWF8Q7BK02C0RPYJ","email":"test@workos.app","email_verified":true,"first_name":"Lucille","last_name":"Bluth","created_at":"2023-08-30T18:48:26.517Z","updated_at":"2023-08-30T18:58:00.821Z","user_type":"unmanaged","email_verified_at":"2023-08-30T18:58:00.915Z","google_oauth_profile_id":null,"microsoft_oauth_profile_id":null}}'
    recorded_at: Wed, 30 Aug 2023 18:58:00 GMT
recorded_with: VCR 5.0.0
