---
http_interactions:
  - request:
      method: put
      uri: https://api.workos.com/user_management/users/user_01H7TVSKS45SDHN5V9XPSM6H44/password
      body:
        encoding: UTF-8
        string: '{"password":"7YtYic00VWcXatPb"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer <API_KEY>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"165-qp1dXUlqqjv5X1XvmWqlvZ/NGSQ"
      body:
        encoding: ASCII-8BIT
        string: '{"object":"user","id":"user_01H7TVSKS45SDHN5V9XPSM6H44","email":"test@workos.app","email_verified":true,"first_name":null,"last_name":null,"created_at":"2023-08-14T20:28:58.929Z","updated_at":"2023-08-28T15:56:19.798Z","user_type":"unmanaged","email_verified_at":"2023-08-22T11:18:01.850Z","google_oauth_profile_id":null,"microsoft_oauth_profile_id":null}'
    recorded_at: Mon, 28 Aug 2023 15:56:20 GMT
recorded_with: VCR 5.0.0
