---
http_interactions:
- request:
    method: get
    uri: https://api.workos.com/directory_users?group=directory_group_01EQ7V7C6Y4RPMCH3KNB9853FF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1223-1qYCWp17+a70FhK5aC+Yn3lS78I"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"list","listMetadata":{"before":null,"after":null},"data":[{"id":"directory_user_01EK2YFBC4XX11HT1AT72YR26G","raw_attributes":{"id":"113226752885572771242","etag":"\"eqhz5i5wiQgvARWPEnQdniNQ_SjQV5znfZGv9dAkRwc/71aE84CzZeCiyvc1C0Jzz0lSgPg\"","kind":"admin#directory#user","name":{"fullName":"Sean
        Rabaut","givenName":"Sean","familyName":"Rabaut"},"emails":[{"address":"sean@foo-corp.com","primary":true},{"address":"sean@foo-corp.com.test-google-a.com"}],"isAdmin":false,"archived":false,"suspended":false,"customerId":"C02mw6qrc","orgUnitPath":"/","creationTime":"2020-08-16T05:28:59.000Z","primaryEmail":"sean@foo-corp.com","agreedToTerms":false,"ipWhitelisted":false,"lastLoginTime":"1970-01-01T00:00:00.000Z","isMailboxSetup":true,"isEnforcedIn2Sv":false,"isEnrolledIn2Sv":false,"isDelegatedAdmin":false,"nonEditableAliases":["sean@foo-corp.com.test-google-a.com"],"changePasswordAtNextLogin":true,"includeInGlobalAddressList":true},"idp_id":"113226752885572771242","first_name":"Sean","emails":[{"value":"sean@foo-corp.com","primary":true}],"username":"sean@foo-corp.com","last_name":"Rabaut","state":"active","groups":[{"id":"directory_group_01EK2YFBPZ8SWMQ01NWN3TNZK4","name":"Engineering","raw_attributes":{"id":"030j0zll1b5a1gf","etag":"\"eqhz5i5wiQgvARWPEnQdniNQ_SjQV5znfZGv9dAkRwc/eSnflkB5fzBxa6QfGsXjaftif2A\"","kind":"admin#directory#group","name":"Engineering","email":"engineering@foo-corp.com","description":"","adminCreated":true,"directMembersCount":"8","nonEditableAliases":["engineering@foo-corp.com.test-google-a.com"]}},{"id":"directory_group_01EQ7V7C6Y4RPMCH3KNB9853FF","name":"Finance","raw_attributes":{"id":"02xcytpi45aqkmr","etag":"\"eqhz5i5wiQgvARWPEnQdniNQ_SjQV5znfZGv9dAkRwc/4zBJXlVVTFZ06sWa5MUTv1TykS8\"","kind":"admin#directory#group","name":"Finance","email":"finance@foo-corp.com","description":"","adminCreated":true,"directMembersCount":"2","nonEditableAliases":["finance@foo-corp.com.test-google-a.com"]}},{"id":"directory_group_01[...]
