---
http_interactions:
- request:
    method: get
    uri: https://api.workos.com/directory_users?after=after-id&directory=directory_01EK2YEMVTWGX27STRDR0N3MP9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5330-dfF1evXCgTOaP6HJsabQxy40K5g"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"list","listMetadata":{"before":null,"after":"directory_user_01EK2YFBC3XG31TG9MBP1QP3Z9"},"data":[{"id":"directory_user_01EK2YFBC3XG31TG9MBP1QP3Z9","raw_attributes":{"id":"109233415591316614930","etag":"\"eqhz5i5wiQgvARWPEnQdniNQ_SjQV5znfZGv9dAkRwc/RXsBa2dcsfstUDWUdwGloMHeKMI\"","kind":"admin#directory#user","name":{"fullName":"Michael
        Grinich","givenName":"Michael","familyName":"Grinich"},"emails":[{"address":"mg@foo-corp.com","primary":true},{"address":"mg@foo-corp.com.test-google-a.com"}],"isAdmin":false,"archived":false,"suspended":false,"customerId":"C02mw6qrc","orgUnitPath":"/","creationTime":"2020-08-16T07:18:18.000Z","primaryEmail":"mg@foo-corp.com","agreedToTerms":false,"ipWhitelisted":false,"lastLoginTime":"1970-01-01T00:00:00.000Z","isMailboxSetup":true,"isEnforcedIn2Sv":false,"isEnrolledIn2Sv":false,"isDelegatedAdmin":false,"nonEditableAliases":["mg@foo-corp.com.test-google-a.com"],"changePasswordAtNextLogin":true,"includeInGlobalAddressList":true},"idp_id":"109233415591316614930","first_name":"Michael","emails":[{"value":"mg@foo-corp.com","primary":true}],"username":"mg@foo-corp.com","last_name":"Grinich","state":"active","groups":[{"id":"directory_group_01EK2YFBQ3F19AD96V9FFMDS1X","name":"Sales","raw_attributes":{"id":"01jlao4614two3d","etag":"\"eqhz5i5wiQgvARWPEnQdniNQ_SjQV5znfZGv9dAkRwc/q7KEwEs-K95FIjfrPVol15Ku3YU\"","kind":"admin#directory#group","name":"Sales","email":"sales@foo-corp.com","description":"","adminCreated":true,"directMembersCount":"1","nonEditableAliases":["sales@foo-corp.com.test-google-a.com"]}},{"id":"directory_group_01EQ7V7C6AKS8D12WX2CMC2HWR","name":"Admins","raw_attributes":{"id":"00gjdgxs2s95kg4","etag":"\"eqhz5i5wiQgvARWPEnQdniNQ_SjQV5znfZGv9dAkRwc/8_DFveza530aqHjNIY138qbXpkw\"","kind":"admin#directory#group","name":"Admins","email":"admins@foo-corp.com","description":"","adminCreated":true,"directMembersCount":"2","nonEditableAliases":["admins@foo-corp.com.test-google-a.com"]}},{"id":"directory_group_01EQ7V7C6FBGG55PKG7YB03EFB","name":"Design","raw_attributes":{"id":"03dy6vkm1y2alqi","etag":"\"eqhz5i5wiQgvARWPEnQdniNQ_SjQV5znfZGv9dAkRwc/FOmENMweP80vOL_QS7AgEhmMJW0\"","kind":"admin#directory#group","name":"Design","email":"design@foo-corp.com","description":"","adminCreated":true,"directMembersCount":"3","nonEditableAliases":["design@foo-corp.com.test-google-a.com"]}}]},{"id":"directory_user_01EK2YFBC3SNPZSXPD7D9TWBH9","raw_attributes":{"id":"115669666685548603461","etag":"\"eqhz5i5wiQgvARWPEnQdniNQ_SjQV5znfZGv9dAkRwc/AlTGEZnqtXc3FzAOzH-uqKg2XWU\"","kind":"admin#directory#user","name":{"fullName":"Max
        Chehab","givenName":"Max","familyName":"Chehab"},"emails":[{"type":"work","address":"max@workos.com"},{"address":"max@foo-corp.com","primary":true},{"address":"max@foo-corp.com.test-google-a.com"}],"isAdmin":false,"archived":false,"suspended":false,"customerId":"C02mw6qrc","orgUnitPath":"/","creationTime":"2019-08-09T23:07:38.000Z","primaryEmail":"max@foo-corp.com","agreedToTerms":true,"ipWhitelisted":false,"lastLoginTime":"2020-06-22T23:16:51.000Z","isMailboxSetup":true,"isEnforcedIn2Sv":false,"isEnrolledIn2Sv":false,"isDelegatedAdmin":false,"nonEditableAliase[...]
