---
http_interactions:
- request:
    method: get
    uri: https://api.workos.com/directory_users?directory=directory_01EK2YEMVTWGX27STRDR0N3MP9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"485d-Q39TmdUI4ev07yJnP0PZqqImfXA"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"list","listMetadata":{"before":"directory_user_01EK2YFBC3R10MPB4W49G5QDXG","after":null},"data":[{"id":"directory_user_01EYY894KT7BFG7BGFP6311QVN","raw_attributes":{"id":"100377956302085585753","etag":"\"eqhz5i5wiQgvARWPEnQdniNQ_SjQV5znfZGv9dAkRwc/3uAtgLaCgHQwGYnPvAOsMmX3kuQ\"","kind":"admin#directory#user","name":{"fullName":"Marshall
        Bowers","givenName":"Marshall","familyName":"Bowers"},"emails":[{"address":"marshall@foo-corp.com","primary":true},{"address":"marshall@foo-corp.com.test-google-a.com"}],"customerId":"C02mw6qrc","orgUnitPath":"/","creationTime":"2021-02-19T22:58:59.000Z","primaryEmail":"marshall@foo-corp.com","lastLoginTime":"1970-01-01T00:00:00.000Z","isMailboxSetup":true,"nonEditableAliases":["marshall@foo-corp.com.test-google-a.com"],"changePasswordAtNextLogin":true,"includeInGlobalAddressList":true},"idp_id":"100377956302085585753","first_name":"Marshall","emails":[{"value":"marshall@foo-corp.com","primary":true}],"username":"marshall@foo-corp.com","last_name":"Bowers","state":"active","groups":[]},{"id":"directory_user_01EY6MWQEGS28JZZW8F9YSPHTN","raw_attributes":{"id":"109773955160115643540","etag":"\"eqhz5i5wiQgvARWPEnQdniNQ_SjQV5znfZGv9dAkRwc/SrCThhD5mhnV6EIkf2v0x2HSBJQ\"","kind":"admin#directory#user","name":{"fullName":"Blair
        Lunchford","givenName":"Blair","familyName":"Lunchford"},"emails":[{"address":"blair@foo-corp.com","primary":true},{"address":"blair@foo-corp.com.test-google-a.com"}],"phones":[{"type":"home","value":"777-777-7777"}],"relations":[{"type":"manager","value":"mg@foo-corp.com"}],"customerId":"C02mw6qrc","externalIds":[{"type":"organization","value":"1234"}],"orgUnitPath":"/","creationTime":"2021-02-10T18:57:37.000Z","primaryEmail":"blair@foo-corp.com","agreedToTerms":true,"lastLoginTime":"2021-03-03T21:06:43.000Z","organizations":[{"title":"Developer
        Success Engineer","primary":true,"customType":"","department":"Customer Success"}],"isMailboxSetup":true,"thumbnailPhotoUrl":"https://www.google.com/s2/photos/private/AIbEiAIAAABECJSJqMrvjYTShwEiC3ZjYXJkX3Bob3RvKig4ZGQxM2I4YzE0NWJmYzFhZTM4ZmI4OTQ3YmVhZWVlODFlNjRkZTE0MAFxHDWu1JMrkUf8mcS2gI-VsRQz-w","nonEditableAliases":["blair@foo-corp.com.test-google-a.com"],"thumbnailPhotoEtag":"\"eqhz5i5wiQgvARWPEnQdniNQ_SjQV5znfZGv9dAkRwc/dpIRoYVHhjaCzW6FemaoQoWb5V0\"","changePasswordAtNextLogin":true,"includeInGlobalAddressList":true},"idp_id":"109773955160115643540","first_name":"Blair","emails":[{"value":"blair@foo-corp.com","primary":true}],"username":"blair@foo-corp.com","last_name":"Lunchford","state":"active","groups":[]},{"id":"directory_user_01ERN5QC6ZSS40R3P2GVFN195D","raw_attributes":{"id":"103497481226604346148","etag":"\"eqhz5i5wiQgvARWPEnQdniNQ_SjQV5znfZGv9dAkRwc/cvJPqv[...]
