---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/passwordless/sessions
    body:
      encoding: UTF-8
      string: '{"email":"demo@workos-okta.com","type":"MagicLink"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ee-6KkIusxSXraxKqTLP+31C0PeHDU"
    body:
      encoding: UTF-8
      string: '{"object":"passwordless_session","id":"passwordless_session_01EJBS3JSXFE2DP6JC6ZVBZ095","email":"demo@workos-okta.com","expires_at":"2020-09-16T15:44:08.475Z","link":"https://api.workos.com/passwordless/ZBxkn2ZTUYqa82ky6QEYecemI/confirm"}'
  recorded_at: Wed, 16 Sep 2020 15:39:08 GMT
recorded_with: VCR 5.0.0
