---
http_interactions:
  - request:
      method: get
      uri: https://api.workos.com/audit_logs/exports/audit_log_export_123
      headers:
        Content-Type:
          - application/json
        Authorization:
          - "Bearer example_api_key"
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"1a-pljHtlo127JYJR4E/RYOPb6ucbw"
      body:
        encoding: UTF-8
        string: '{"object":"audit_log_export","id":"audit_log_export_123","state":"ready","url":"https://audit-logs.com/download.csv","created_at":"2022-08-22T15:04:19.704Z","updated_at":"2022-08-22T15:04:19.704Z"}'
    recorded_at: Mon, 22 Aug 2022 17:47:49 GMT
recorded_with: VCR 5.0.0
