---
http_interactions:
- request:
    method: get
    uri: https://api.workos.com/directories/invalid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5d-Sx4XoCfDLxkGIc0yAjSbi2ILYww"
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Directory not found: ''invalid''.","code":"entity_not_found","entity_id":"invalid"}'
  recorded_at: Sun, 07 Nov 2021 19:18:31 GMT
recorded_with: VCR 5.0.0
