name: Release

on:
  release:
    types: [published]

defaults:
  run:
    shell: bash

jobs:
  publish:
    name: Publish to RubyGems
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Configure RubyGems credentials
        uses: rubygems/configure-rubygems-credentials@88679b3ac821ffda0116bf098443db9ac7822e40
        with:
          role-to-assume: rg_oidc_akr_fn8dx45asckvmsnd2kka

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Ruby
        uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
        with:
          ruby-version: "3.2"
          bundler-cache: true

      - name: Run tests
        run: bundle exec rspec

      - name: Publish to RubyGems
        run: |
          VERSION="${GITHUB_REF_NAME#v}"
          bundle exec rake build
          gem push pkg/workos-${VERSION}.gem --host https://rubygems.org
