name: Release

on:
  release:
    types: [published]

defaults:
  run:
    shell: bash

jobs:
  publish:
    name: Publish to RubyGems
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Configure RubyGems credentials
        uses: rubygems/configure-rubygems-credentials@main
        with:
          role-to-assume: rg_oidc_akr_fn8dx45asckvmsnd2kka

      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "4.0.1"
          bundler-cache: true

      - name: Run tests
        run: bundle exec rspec

      - name: Publish to RubyGems
        run: |
          VERSION="${GITHUB_REF_NAME#v}"
          bundle exec rake build
          gem push pkg/workos-${VERSION}.gem --host https://rubygems.org
