---
http_interactions:
- request:
    method: get
    uri: https://api.workos.com/user_management/invitations/by_token/invalid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5a-PPX6d4bMxLfMyXe/1aUqFNwW/Dc"
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Invitation not found: ''invalid''.","code":"entity_not_found","entity_id":"invalid"}'
  recorded_at: Mon, 03 Jun 2024 20:16:37 GMT
recorded_with: VCR 5.0.0
