---
http_interactions:
- request:
    method: post
    uri: https://api.workos.com/users/user_01H7WRJBPAAHX1BYRQHEK7QC4A/send_verification_email
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"147-G4EfExabdwys9ksC+plhseeuASM"
    body:
      encoding: UTF-8
      string: '{"object":"user","id":"user_01H7WRJBPAAHX1BYRQHEK7QC4A","email":"lucy.lawless@example.com","first_name":"Lucy","last_name":"Lawless","created_at":"2023-08-15T14:11:04.519Z","updated_at":"2023-08-17T19:43:38.890Z","user_type":"unmanaged","email_verified_at":null,"google_oauth_profile_id":null,"microsoft_oauth_profile_id":null}'
  recorded_at: Mon, 21 Aug 2023 18:28:05 GMT
recorded_with: VCR 5.0.0
